:root{
  --color-one:#E7F6F2;
  --color-two: #A5C9CA;
  --color-three: #395B64;
  --color-four:#2C3333;

}
*{
  margin:0px;
  padding: 0px;;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-four);
  background-color: var(--color--one);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
